/* General */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif; 
    margin: 0;
    padding: 0;   
}

img {
    width: 100%;
}

.btn {    
    border: none;
    cursor: pointer;
    padding: 0.75em 1.5em;
    font-family: 'Manrope', sans-serif; 
    font-size: 16px;
    font-weight: 700;  
    line-height: 32px;
}

.primary {
    background: #44FFA1;
    color: #24053E;
}

.secondary {
    background-color: transparent;
    border-bottom: 3px solid #44FFA1;
    color: #FFF;      
    padding: .22em 0;
}

/* Header */

.header {
    align-items: center;
    background-color: #24053E;    
    display: flex;    
    justify-content: space-between;
    padding: 2em 1em;    
}

.logo {
    height: 25px;
    width: 96px;
    
}

/* Hero */

.hero {
    background-color: #24053E; 
    color: #FFF;
    text-align: center;
    padding: 2em 1em;
}

.hero-title {
    margin: 0;
    font-family: 'Fraunces', serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

.hero .btn {
    margin: 2.5em 0 4em;
}
