/* General */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

.btn {
    border: none;
    cursor: pointer;
    padding: 0.75em 1.5em;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
}

.primary {
    background: #44FFA1;
    color: #24053E;
}

.secondary {
    background-color: transparent;
    border-bottom: 3px solid #44FFA1;
    color: #FFF;
    padding: .22em 0;
}

/* Header */

.header {
    align-items: center;
    background-color: #24053E;
    display: flex;
    justify-content: space-between;
    padding: 2em 1em;
}

.logo {
    height: 25px;
    width: 96px;

}

/* Hero */

.hero {
    background-color: #24053E;
    color: #FFF;
    text-align: center;
    padding: 2em 1em;
}

.hero-title {
    margin: 0;
    font-family: 'Fraunces', serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

.hero .btn {
    margin: 2.5em 0 4em;
}

/* Features */

.features {
    background-color: #FCF8FF;
    padding: 4em 1.5em;
    color: #24053E;
    font-family: 'Fraunces', serif;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.feature {
    text-align: center;
}

.feature-num {
    border: 1px solid #584D62;
    border-radius: 100%;
    font-size: 20px;
    padding: 0.60em 1em;
}

.feature-title {
    font-size: 28px;
    font-weight: 600;
    margin: 0.9em 0 0.6em;
}

.feature-body {
    color: #584D62;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    line-height: 28px;
}

/* About */

.about {
    padding: 2em 0;
}

.founder-img {
    display: block;
    width: 281px;
    height: 281px;
    margin: 0 auto;
    margin-bottom: -55px;
    position: relative;
    z-index: -1;
}

.about-content {
    background-color: #24053E;
    width: 95%;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    padding: 2em;
}

.content-title {
    margin: 0;
    font-family: 'Fraunces', serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
}

.content-body {
    line-height: 28px;
}
